
<html>
	<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1XTFM65VS2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1XTFM65VS2');
</script>
	<meta charset=“UTF-8”>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,bold,900,600">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <!-- Custom styles for this template -->
 		 <link href="css/custom.css" rel="stylesheet">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<title>SurfingAttack</title>
	</head>
	<body>
		<div class = "global_container">
			<div class = "section"  >

				<h1>SurfingAttack: Interactive Hidden Attack on Voice Assistants Using Ultrasonic Guided Wave</h1>
				<div class ="boxed">
					<p> SurfingAttack exploits ultrasonic guided wave propagating through solid-material tables to attack voice control systems.
						By leveraging the unique properties of acoustic transmission in solid materials, we design a new attack called
						SurfingAttack that would enable multiple rounds of interactions between the voice-controlled device and the attacker
						over a longer distance and without the need to be in line-of-sight. By completing the interaction loop of inaudible sound attack,
						SurfingAttack enables new attack scenarios, such as hijacking a mobile Short Message Service (SMS) passcode, making ghost fraud calls
						without owners' knowledge, etc.
					</p>
					<p style="font-size:20px"><a href="papers/NDSS-surfingattack.pdf">Read the Paper</a>,

					<a href="#bibtex" data-toggle="collapse" role="button">
					Cite <i class="fa fa-quote-right" aria-hidden="true"></i></a>
						<div id="bibtex" style="margin-top: 1.5em;" class="collapse" align="left">
							<pre style="white-space: pre">
@inproceedings{yan2020surfingattack,
    author = {Yan, Qiben and Liu, Kehai and Zhou, Qin and Guo, Hanqing and Zhang, Ning},
    title = {SurfingAttack: Interactive Hidden Attack on Voice Assistants Using Ultrasonic Guided Wave},
    booktitle={Network and Distributed Systems Security (NDSS) Symposium},
    year = {2020},
}
</pre></p></div>
				</div>


				<h1> Team </h1>
					<div class ="boxed" style="margin-top=3em;">
						<p>
							SurfingAttack was discovered by the following team of academic researchers:
						</p>
						<ul>
					<li>
						<strong><a href="http://cse.msu.edu/~qyan/">Qiben Yan</a></strong> at <a href="http://seit.egr.msu.edu/">SEIT Lab</a>, <a href="https://www.cse.msu.edu/">Michigan State University</a></li>
							<li><a href=""><strong>Kehai Liu</strong></a> at <a href="http://english.cas.cn/">Chinese Academy of Sciences</a> </li>
				      <li><a href="https://engineering.unl.edu/mme/faculty/qin-zhou/"><strong>Qin Zhou</strong></a> at <a href="https://www.unl.edu/">University of Nebraska-Lincoin</a></li>
							<li><a href="https://hanqingguo.github.io"><strong>Hanqing Guo</strong></a> at <a href="http://seit.egr.msu.edu/">SEIT Lab</a>, <a href="https://www.cse.msu.edu/">Michigan State University</a></li>
							<li><a href="https://engineering.wustl.edu/Profiles/Pages/Ning-Zhang.aspx"><strong>Ning Zhang</strong></a> at <a href="https://cse.wustl.edu/Pages/default.aspx">Washington University in St. Louis</a></li>

						</ul>
<p class="text-center"><strong>Contact us at <a href="mailto:surfingattack@gmail.com">surfingattack@gmail.com</a></strong></p>

 <div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
      <div>
      <a href="https://www.cse.msu.edu/">
        <img width = "160px" src="logos/MSU-logo.png" alt="Michigan State University logo" class="img-fluid" />
				<div style = "height:10px"></div>
      </a>
      </div>
			<a href="https://www.unl.edu/">
        <img width="160px" src="logos/UNL_Logo.png" alt="UNL logo" class="img-fluid" />
			</a>
      <a href="https://cse.wustl.edu/Pages/default.aspx">
        <img width="160px" src="logos/WUSTL.png" alt="WUSTL logo" class="img-fluid" />
			</a>
 </div>
</div>


				<h1>Features</h1>

					<ul>
						<li class="question">
							<!--<li>
								<b> What's the difference between <a href="papers/p103-zhangAemb.pdf">dolphinAttack</a> and <a href="https://lightcommands.com/">lightcommands?</a></b>

									<li class="answer">    <b><font color="red">Long distance attack</font> with NLOS situation compares to dolphinAttack</b> It achieves longer than 30ft distance with certain materials</li>
									<li class="answer">    <b>None Line of sight attack.</b> It uses multiple solid media to attack victims.</li>
									<li class="answer">    <b>Attack multiple phones simultanously.</b> It can attack more than one phones in a same time.</li>

							</li>
							<br>
							<br>
							<br>-->
							<b> How does SurfingAttack work?</b>

								<p class="answer">
									SurfingAttack modulates the voice command onto inaudible frequency band, and transmits attack signals using
									an off-the-shelf PZT transducer (cost $5 per piece) through different types of tables made of solid materials.
												</p>
					<b>What devices can be compromised by the commands injected via SurfingAttack?</b>
					<p class="answer">
									We validated successful SurfingAttack on the following devices, and we believe more devices could be vulnerable. The phones protected by silicone rubber phone cases are also vulnerable.
												</p>

					<table>
  				<tr>
    			  <th>Manufacturer</th>
    			  <th>Model</th>
  				  <th>Os/Version</th>
						<th>Best fc(kHz)</th>
  				</tr>

  				<tr>
    				<td>Google</td>
    				<td>Pixel</td>
    				<td>Android 10</td>
						<td>28.2</td>
  				</tr>

					<tr>
    				<td>Google</td>
    				<td>Pixel 2</td>
    				<td>Android 10</td>
						<td>27.0</td>
  				</tr>

					<tr>
    				<td>Google</td>
    				<td>Pixel 3</td>
    				<td>Android 10</td>
						<td>27.0</td>
  				</tr>

					<tr>
    				<td>Moto</td>
    				<td>G5</td>
    				<td>Android 7.0</td>
						<td>27.0</td>
  				</tr>

					<tr>
    				<td>Moto</td>
    				<td>Z4</td>
    				<td>Android 9.0</td>
						<td>28.2</td>
  				</tr>

					<tr>
    				<td>Samsung</td>
    				<td>Galaxy S7</td>
    				<td>Android 7.0</td>
						<td>25.8</td>
  				</tr>

					<tr>
						<td>Samsung</td>
						<td>Galaxy S9</td>
						<td>Android 9.0</td>
						<td>26.5</td>
					</tr>

					<tr>
    				<td>Xiaomi</td>
    				<td>Mi 5</td>
    				<td>Android 8.0</td>
						<td>28.3</td>
  				</tr>

					<tr>
    				<td>Xiaomi</td>
    				<td>Mi 8</td>
    				<td>Android 9.0</td>
						<td>25.6</td>
  				</tr>

					<tr>
    				<td>Xiaomi</td>
    				<td>Mi 8 Lite</td>
    				<td>Android 9.0</td>
						<td>25.5</td>
  				</tr>

					<tr>
    				<td>Huawei</td>
    				<td>Honor View 10</td>
    				<td>Android 9.0</td>
						<td>27.7</td>
  				</tr>

					<tr>
    				<td>Apple</td>
    				<td>iPhone 5</td>
    				<td>iOS 10.0.03</td>
						<td>26.2</td>
  				</tr>

					<tr>
    				<td>Apple</td>
    				<td>iPhone 5s</td>
    				<td>iOS 12.1.2</td>
						<td>26.2</td>
  				</tr>

					<tr>
    				<td>Apple</td>
    				<td>iPhone 6+</td>
    				<td>iOS 11</td>
						<td>26.0</td>
  				</tr>

					<tr>
    				<td>Apple</td>
    				<td>iPhone X</td>
    				<td>iOS 12.4.1</td>
						<td>26.0</td>
  				</tr>
</table><br>


							<b> What can the attackers do?</b>
								<li class="answer">  &#9873  Make fraud call using your phone. </li>
								<li class="answer">  &#9873  Retrieve your SMS verification code. </li>
								<li class="answer">  &#9873  Interact with your devices
									using the voice assistants.</li>
									<li class="answer">&#9873 And much more... </li>
						</li><br>


						<b> How do you defend against SurfingAttack?</b>
								<li class="answer">  &#9733 Keep an eye on your devices placed on tabletops. </li>
								<li class="answer">  &#9733 Reduce the touching surface area of your phones with the table. </li>
								<li class="answer">  &#9733 Place the device on a soft woven fabric before touching the tabletops. </li>
								<li class="answer"> &#9733 Use thicker phone cases made of uncommon materials such as wood. </li>
								<li class="answer">  &#9733 Turn off lock screen personal results (or unlock with voice match) on Android. </li>
								<li class="answer">  &#9733 Disable your Voice Assistant on lock screen, and lock your device when you put it down. </li>
						</li>
						<p></p>

						<p></p>


					</ul>
				<h2>SurfingAttack demonstration</h2>
				<iframe width="500" height="400" src="https://www.youtube.com/embed/pQw2zRAqVnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


				<h2>Unnoticeable SurfingAttack in a realistic scenario</h2>
				<h3>(SurfingAttack system including a metal sheet or a glass sheet with attack device is hidden under a tablecloth)</h3>
				<iframe width="500" height="400" src="https://www.youtube.com/embed/zgr-oM2YJHs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					<h1> SurfingAttack on different phones </h1>
					<div style="margin-top=3em;">
					<iframe title="Mi 8" width="390" height="250" src="https://www.youtube.com/embed/c3XE1ur3Fi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>Mi 8</iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/6xVJdAxLxBU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/Ta9bs16j2uw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/SJ4R012JV5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


					</div>
					<br>



					<h1> SurfingAttack on different functions </h1>
					<div style="margin-top=3em;">
					<iframe width="390" height="250" src="https://www.youtube.com/embed/3Whjh82ipts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/4sCjplh-kE4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/zTxqCMJmyn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/3bgE92cMUj4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<br>

					<h1> SurfingAttack under different scenarios </h1>

					<!--30ft long distance attack on a large Aluminum metal plate-->
					<h2> 30ft long distance attack on a large Aluminum metal plate </h2>
					<iframe width="500" height="400" src="https://www.youtube.com/embed/5zfQuQ5KNNY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					<h2> SurfingAttack on metal plate with different thicknesses</h2>
					<div style="margin-top=3em;">
						<!-- 1/4 inch metal -->
						<iframe width="390" height="250" src="https://www.youtube.com/embed/Lpekxz4ifyI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						<!-- 1/2 inch metal -->
						<iframe width="390" height="250" src="https://www.youtube.com/embed/RBFlOaTBoXQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<br>
						<!-- 1 inch metal -->
						<iframe width="390" height="250" src="https://www.youtube.com/embed/Wyi5E5oFeBE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						<!-- 3/2 inch metal -->
						<iframe width="390" height="250" src="https://www.youtube.com/embed/XI02jIRULHE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

					<h2> SurfingAttack on glass plate with different thicknesses</h2>
					<div style="margin-top=3em;">

						<!-- 1/8 inch glass -->
						<iframe width="390" height="250" src="https://www.youtube.com/embed/7AnFCcxm770" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<!-- 3/16 inch glass -->
						<iframe width="390" height="250" src="https://www.youtube.com/embed/WmlJWVTQggo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<br>
						<!-- 1/4 inch glass -->
						<iframe width="390" height="250" src="https://www.youtube.com/embed/kE8jshqDBWs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<!-- 3/8 inch glass -->
						<iframe width="390" height="250" src="https://www.youtube.com/embed/GNgE6CFhEQs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					</div>

					<h2> SurfingAttack under other scenarios</h2>
					<div style="margin-top=3em;">
					<!-- phone case -->
					<iframe width="390" height="250" src="https://www.youtube.com/embed/Ber77Y1EPPw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<!-- table cover sheet -->
					<iframe width="390" height="250" src="https://www.youtube.com/embed/MCmNKWiRCVk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br>
					<!-- two phones -->
					<iframe width="390" height="250" src="https://www.youtube.com/embed/NRju2h8FaxM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<!-- attack under noise environment -->
					<iframe width="390" height="250" src="https://www.youtube.com/embed/fxlKZ_1Y78Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					</div>
					<br>





	</body>
</html>
